$primary-color: #1ca7ac;
$primary-color-transparent-for-pictures: rgba(28, 167, 172, 0.599);
$primary-color-transparent: #1ca7ac26;
$secondary-color: #374848;
$secondary-color-transparent: #e4edee;
$third_color: #aa681c;
$third_color_hover: #c9812d;
