@use "../base/variables";
@use "../base/mixins";

.aPropos{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  @include mixins.mobile {
    padding: 10px 10px 25px 10px;
    width: 95%;
  }

  &__introduction{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    @include mixins.tablet {
      padding: 5px 15px 5px 15px;
     }
    @include mixins.mobile {
     text-align: center;
     padding: 0;
    }

  }

  .aPropos__introductionText{
    font-size: 15px;
    line-height: 25px;
  }
 

  &__accordion{
    width: 70%;
    @include mixins.mobile {
      width: 93%;
    }
  }

  &__cover{
    position: absolute;
    border-top-right-radius: 15px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: variables.$primary-color-transparent-for-pictures;
  }

  &__pictures{
    display: flex;
    position: absolute;
    top: 2%;
    right: -33%;
    z-index: -1;
    width: 73%;
    @include mixins.mobile {
     display: none;
    }
  
  }

  &__picture{
    border-top-right-radius: 15px;
    height: auto;
    width: 100%;
    object-fit: cover;
    @include mixins.mobile {
      display: none;
     }
  }

  &__formation{
    width: 70%;
    margin-bottom: 25px;
    padding: 15px 15px 15px 113px;
    position: relative;
    margin-top: 17px;
    @include mixins.tablet {
      width: 100%;
      padding: 15px 15px 15px 15px;
    }

    @include mixins.mobile {
      padding: 10px;
      margin-top: 0;
      margin-bottom: 15px;
    }
  }

  &__formationTitle{
    color: variables.$secondary-color;
    margin-top: 25px;
  }

  &__experiencePro{
    display: flex;
    flex-direction: column;
    background-color: variables.$secondary-color;
    height: auto;
    padding: 35px 120px 35px 120px;

    @include mixins.tablet {
      padding: 35px 15px 35px 15px;
    }

    @include mixins.mobile {
      flex-wrap: wrap;
      padding-top: 15px;
      padding-bottom: 20px;
      padding-left: 15px;
      padding-right: 23px;
      height: auto;
    }
  }

  &__experienceProTitle{
    color: white;
  }
  
  &__experienceProContainer{
    display: flex;
    @include mixins.tablet{
      flex-wrap: wrap
    }
    @include mixins.mobile {
      flex-direction: column;
    }
  }

  &__telechargement{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: auto;
    padding-top: 15px;
    @include mixins.mobile {
      padding: 35px 50px 15px 50px;
    }
  }

  &__cvContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }

  &__cv{
    width: 12%;
    display: flex;
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
    @include mixins.mobile {
      width: 42%;
      padding-bottom: 0;
    }
  }
}


.aPropos__cvParagraph{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: auto;
  color: variables.$secondary-color;
}

.softSkills {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  justify-content: center;
  text-align: center;
  @include mixins.mobile {
      margin: 0;
  }

  &__Title{
      color: variables.$secondary_color;
      padding-top: 30px;
      text-align: left;
      padding: 35px 120px 5px 120px;
      @include mixins.tablet {
        padding: 35px 15px 5px 35px;
      }
  }

}